*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  box-sizing: inherit;
  width: 100%;
  height: 100%;
  perspective: 900; }

html {
  font-family: "Gloria+Hallelujah", cursive;
  color: #070707;
  font-size: 10px; }

.center-text {
  text-align: center; }

.big {
  font-size: 2em; }

h1 {
  font-size: 2.6rem;
  padding-bottom: 1rem; }
  @media (min-width: 600px) {
    h1 {
      font-size: 3.8rem; } }
  @media (min-width: 900px) {
    h1 {
      font-size: 4.4rem; } }

h2 {
  font-size: 2.2rem;
  padding-bottom: 1rem; }
  @media (min-width: 600px) {
    h2 {
      font-size: 3.2em; } }
  @media (min-width: 900px) {
    h2 {
      font-size: 3.6rem; } }

h3 {
  font-size: 1.8rem;
  color: #2f2f2f;
  padding-bottom: 1rem; }
  @media (min-width: 600px) {
    h3 {
      font-size: 2rem; } }
  @media (min-width: 900px) {
    h3 {
      font-size: 2.2rem; } }

h4 {
  font-weight: normal;
  font-size: 1.6rem;
  padding-bottom: 1rem; }
  @media (min-width: 600px) {
    h4 {
      font-size: 1.8rem; } }
  @media (min-width: 900px) {
    h4 {
      font-size: 2rem; } }

h5 {
  font-size: 1.4rem;
  font-weight: normal;
  padding-bottom: 1rem; }
  @media (min-width: 900px) {
    h5 {
      font-size: 1.8em; } }

h6 {
  font-size: 1.2rem;
  font-weight: normal;
  padding-bottom: 1rem; }
  @media (min-width: 900px) {
    h6 {
      font-size: 1.6em; } }

p {
  padding-bottom: 1em; }

p,
li,
ol {
  font-size: 1.3rem; }
  @media (min-width: 600px) {
    p,
    li,
    ol {
      font-size: 1.6rem; } }

a,
Link {
  font-size: inherit;
  color: #c21017;
  text-decoration: none; }

ol {
  padding-left: 2em; }

.color-box-1 {
  background-color: palegoldenrod;
  color: #222; }

.color-box-2 {
  background-color: paleturquoise;
  color: #222; }

/*# sourceMappingURL=app.css.map */
