.modalTopNav {
    // height: 200px;
    // width: 200px;
    background-color: $color-black;
    position: absolute;
    top: 6rem;
    right: 0;
    @include respond(break-m) {
        display: none;
    }
}
.modalSideNav {
    background-color: red;
    position: absolute;
    top: 6rem;
    right: 1;
    @include respond(break-m) {
        top: 7rem;
    
    }
}
.box {
    height: 200px;
    width: 200px;
    background-color: red;
}