.color-box-1 {
    background-color: palegoldenrod ;
    color: $color-black;
}

.color-box-2 {
    background-color: paleturquoise;
    color: $color-black;
}
// body {
//     background-color: blue;
// }