html {
    font-family: $font-family-main;
    color: $color-RB-Black;
    font-size: $font-size-base;
  }

.center-text {
    text-align: center;
}
  
.big {
    font-size: 2em;
}
  
h1 {
    font-size: 2.6rem;
    padding-bottom: 1rem;
    @include respond(break-s) {
        font-size: 3.8rem;
    }
    @include respond(break-m) {
        font-size: 4.4rem;
    }
    // @include respond(break-l) {
    //     font-size: 5rem;
    // }
}
  
h2 {
    font-size: 2.2rem;
    padding-bottom: 1rem;
    // font-weight: normal;
    @include respond(break-s) {
        font-size: 3.2em;
    }
    @include respond(break-m) {
        font-size: 3.6rem;
    }
    // @include respond(break-l) {
    //     font-size: 4.2em;
    // }
}

h3 {
    font-size: 1.8rem;
    color: lighten($color-black, 5%);
    padding-bottom: 1rem;
    @include respond(break-s) {
        font-size: 2rem;
    }
    @include respond(break-m) {
        font-size: 2.2rem;
    }
    // @include respond(break-l) {
    //     font-size: 3.6em;
    // }
}

h4 {
    font-weight: normal;
    font-size: 1.6rem;
    padding-bottom: 1rem;
    @include respond(break-s) {
        font-size: 1.8rem;
    }
    @include respond(break-m) {
        font-size: 2rem;
    }
    // @include respond(break-l) {
    //     font-size: 3em;
    // }
}

h5 {
    font-size: 1.4rem;
    font-weight: normal;
    padding-bottom: 1rem;
    @include respond(break-m) {
        font-size: 1.8em;
    }   
}
h6 {
    font-size: 1.2rem;
    font-weight: normal;    
    padding-bottom: 1rem;
    @include respond(break-m) {
        font-size: 1.6em;
    }
    

}
p {
    padding-bottom: 1em;
}
p,
li,
ol {
    font-size: 1.3rem;
    @include respond(break-s) {
        font-size: 1.6rem;
    }
}

a,
Link {
    font-size: inherit;
    color: darken($color-RB-Red, 9);
    text-decoration: none;
}

ol {
    padding-left: 2em;
}