//Glodal Variables

//Colors
$color-RB-Red:      #ec141d;
$color-RB-Black:    #070707;

$color-white:       #fff;
$color-black:       #222;
$shadow:              .05em .05em .08em $color-black, .08em .08em .1em $color-RB-Black;
$border: 3px solid $color-RB-Red;

//fonts
$font-family-main:      'Gloria+Hallelujah', cursive;;
$font-family-logo:      'Merienda', cursive;
$font-size-base:        10px;

//breakpoints
$break-xs: 400px; //23em;  //400px
$break-s:  600px; //37.5em;  //600px
$break-m:  900px;  //56.25em;  //900px
$break-l:  1100px; // 75em;   //1200px
// $break-xl:  112.5em;  //1800px