.PlayLearn {
    color: rgba(255, 255, 255, 0.9);
    background-color: $color-RB-Red;
    border-color: $color-RB-Red;
    width: 100%;
    height: 4rem;
    border-radius: 2rem;
    margin: 2rem 0;
  
    &:hover {
      color:            rgba(255, 255, 255, 0.9);
      background-color: lighten($color-RB-Red, 20%);
      border-color:     lighten($color-RB-Red, 20%);
    }
  }
  