.img-contain {
    background-size: cover;
   
    &__Video {
        @extend .img-contain;
        margin: 0 ;
        // width: 100%;
        object-fit: cover;
        display: block;
        // height: 300px;
        max-width: 200px;
    }
    &__WallCard {
        @extend .img-contain;
        height: 5rem;
        width: 5rem;
        object-fit: cover;
        border-radius: 50%;
        // background-color: lightcoral;
        @include respond(break-s) {
        height: 10rem;
        width: 10rem;
        }
    }
}
.Person-box {
    border-radius: 3px;
    padding: 1em;
    font-size: 120%;
    margin: 0.5em;
    text-align: center; }