.logo {
    // background-color: aqua;
    margin-left: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logotext {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 0;
    color: $color-white;
    &-Read {
        @extend .logotext;
        color: $color-RB-Red;
    }
   
}

.legal {
    font-size: 1.2em;
    text-align: center;
    padding: 1.5em;
    color: $color-white;
    background-color: $color-black;
    border-top: $border;
}