.Layout_WordWall {
    display: grid;
    // background-color: gray;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    margin: auto;
    padding: 0;
    text-align: left;
    @include respond(break-m) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
      }
}
.WordWall_Words {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: auto;
    padding: 0;
    text-align: center;
}

// name bar
.WordWallName_Count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: inherit;
    // background-color: wheat;
}
.WordWallName {
    align-self: start;
    // background-color: rebeccapurple;
    
}
.WordWallCount {
    align-self: start;
    // background-color: royalblue;
}

.Center {
    display: flex;
    align-items: center;
}
