section {
   
        background-color: $color-white ;
        padding: 2rem;
        text-align: center;
        min-height: 82vh;
}

.box {
    &-dash {
        background-color: wheat;
        text-align: left;
        padding: 1em;
        &__graph {
            @extend .box-dash;
            @include respond(break-s) {
                grid-row-end: span 1;
                grid-column-end: span 2;
              } 
        }
        &__issues {
            @extend .box-dash;
        }
        &__posts {
            @extend .box-dash;
            @include respond(break-s) {
                grid-row-end: span 1;
                grid-column-end: span 2;
              }
            @include respond(break-m) {
                grid-row-end: span 1;
                grid-column-end: span 3;
            }
        }
    }
}