.topbar {
    height: 6rem;
    background-color: $color-RB-Black;
    border-bottom: $border; 
    color: $color-white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include respond(break-m) {
        height: 7rem;
        align-items: center;
    }
}

.nav {
    font-size: 1.4em;
    list-style: none;
    &-side {
        @extend .nav;
        margin-top: .5em;
    
        // &_modal {
        //     @extend .nav-side;
        //     display: flex;
        // }
        
    }
    &-top {
        @extend .nav;
        align-self: stretch;
        // margin-right: 1rem;
        flex-direction: column;
        align-items: baseline;
        // align-self: flex-end;
        // margin-top: 6rem;
        background-color: $color-RB-Black;
        display: none;
        // background-color: pink;
        &_modal {
            @extend .nav-top;
            display: flex;
        }
        @include respond(break-m) {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: center;
            margin-top: 0;
            background-color: transparent;
        //  background-color: pink;
    }
    }
}

.nav-item{
    padding-bottom: 0;
 }
.nav-link {
    color: $color-white;
    text-decoration: none;
    // text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
}
.nav-link:hover {
    color: $color-RB-Red;
}
.active-navlink {
    color: $color-RB-Red;
}

.hambuger {
    height: 6rem;
    width: 6rem;
    // background-color: goldenrod;
    background-image: url(../../img/icon/MenuTop.jpg);
    background-position: center;
    background-size: cover;
    margin-right: 2rem;
    @include respond(break-m) {
        display: none;
        margin-right: 0;
    }
    &_side {
        @extend .hambuger;
        margin-right: 0;
        // background-image: url(../../img/icon/arrow-down.png);
        
        @include respond(break-m) {
            display: flex;
        }  
    }
}
.hambuger__h1 {
    padding-bottom: 0;
}

