*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  box-sizing: inherit;
  width: 100%;
  height: 100%;
  perspective: 900; }

html {
  font-family: "Gloria+Hallelujah", cursive;
  color: #070707;
  font-size: 10px; }

.center-text {
  text-align: center; }

.big {
  font-size: 2em; }

h1 {
  font-size: 2.6rem;
  padding-bottom: 1rem; }
  @media (min-width: 600px) {
    h1 {
      font-size: 3.8rem; } }
  @media (min-width: 900px) {
    h1 {
      font-size: 4.4rem; } }

h2 {
  font-size: 2.2rem;
  padding-bottom: 1rem; }
  @media (min-width: 600px) {
    h2 {
      font-size: 3.2em; } }
  @media (min-width: 900px) {
    h2 {
      font-size: 3.6rem; } }

h3 {
  font-size: 1.8rem;
  color: #2f2f2f;
  padding-bottom: 1rem; }
  @media (min-width: 600px) {
    h3 {
      font-size: 2rem; } }
  @media (min-width: 900px) {
    h3 {
      font-size: 2.2rem; } }

h4 {
  font-weight: normal;
  font-size: 1.6rem;
  padding-bottom: 1rem; }
  @media (min-width: 600px) {
    h4 {
      font-size: 1.8rem; } }
  @media (min-width: 900px) {
    h4 {
      font-size: 2rem; } }

h5 {
  font-size: 1.4rem;
  font-weight: normal;
  padding-bottom: 1rem; }
  @media (min-width: 900px) {
    h5 {
      font-size: 1.8em; } }

h6 {
  font-size: 1.2rem;
  font-weight: normal;
  padding-bottom: 1rem; }
  @media (min-width: 900px) {
    h6 {
      font-size: 1.6em; } }

p {
  padding-bottom: 1em; }

p,
li,
ol {
  font-size: 1.3rem; }
  @media (min-width: 600px) {
    p,
    li,
    ol {
      font-size: 1.6rem; } }

a,
Link {
  font-size: inherit;
  color: #c21017;
  text-decoration: none; }

ol {
  padding-left: 2em; }

.color-box-1 {
  background-color: palegoldenrod;
  color: #222; }

.color-box-2 {
  background-color: paleturquoise;
  color: #222; }

.div-WordWallCount, .div-WordWallCount__page, .div-WordWallCount__card {
  display: flex; }
  .div-WordWallCount__page {
    text-align: center;
    margin: 1rem; }
  .div-WordWallCount__card {
    justify-content: center;
    align-items: center;
    margin: 0; }

.WordWallCount, .WordWallCount__page, .WordWallCount__card {
  background-color: #ec141d;
  color: #fff;
  border-radius: 50%;
  padding: 1rem 0; }
  .WordWallCount__page {
    padding: .5rem 1rem; }
  .WordWallCount__card {
    padding: 0 1rem; }

.img-contain, .img-contain__Video, .img-contain__WallCard {
  background-size: cover; }
  .img-contain__Video {
    margin: 0;
    object-fit: cover;
    display: block;
    max-width: 200px; }
  .img-contain__WallCard {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 50%; }
    @media (min-width: 600px) {
      .img-contain__WallCard {
        height: 10rem;
        width: 10rem; } }

.Person-box {
  border-radius: 3px;
  padding: 1em;
  font-size: 120%;
  margin: 0.5em;
  text-align: center; }

.PlayLearn {
  color: rgba(255, 255, 255, 0.9);
  background-color: #ec141d;
  border-color: #ec141d;
  width: 100%;
  height: 4rem;
  border-radius: 2rem;
  margin: 2rem 0; }
  .PlayLearn:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: #f47278;
    border-color: #f47278; }

.logo {
  margin-left: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.logotext, .logotext-Read {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 0;
  color: #fff; }
  .logotext-Read {
    color: #ec141d; }

.legal {
  font-size: 1.2em;
  text-align: center;
  padding: 1.5em;
  color: #fff;
  background-color: #222;
  border-top: 3px solid #ec141d; }

.topbar {
  height: 6rem;
  background-color: #070707;
  border-bottom: 3px solid #ec141d;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  @media (min-width: 900px) {
    .topbar {
      height: 7rem;
      align-items: center; } }

.nav, .nav-side, .nav-top, .nav-top_modal {
  font-size: 1.4em;
  list-style: none; }
  .nav-side {
    margin-top: .5em; }
  .nav-top, .nav-top_modal {
    align-self: stretch;
    flex-direction: column;
    align-items: baseline;
    background-color: #070707;
    display: none; }
    .nav-top_modal {
      display: flex; }
    @media (min-width: 900px) {
      .nav-top, .nav-top_modal {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        margin-top: 0;
        background-color: transparent; } }

.nav-item {
  padding-bottom: 0; }

.nav-link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 1.5rem 3rem; }

.nav-link:hover {
  color: #ec141d; }

.active-navlink {
  color: #ec141d; }

.hambuger, .hambuger_side {
  height: 6rem;
  width: 6rem;
  background-image: url(../../img/icon/MenuTop.jpg);
  background-position: center;
  background-size: cover;
  margin-right: 2rem; }
  @media (min-width: 900px) {
    .hambuger, .hambuger_side {
      display: none;
      margin-right: 0; } }
  .hambuger_side {
    margin-right: 0; }
    @media (min-width: 900px) {
      .hambuger_side {
        display: flex; } }

.hambuger__h1 {
  padding-bottom: 0; }

section {
  background-color: #fff;
  padding: 2rem;
  text-align: center;
  min-height: 82vh; }

.box-dash, .box-dash__graph, .box-dash__issues, .box-dash__posts {
  background-color: wheat;
  text-align: left;
  padding: 1em; }
  @media (min-width: 600px) {
    .box-dash__graph {
      grid-row-end: span 1;
      grid-column-end: span 2; } }
  @media (min-width: 600px) {
    .box-dash__posts {
      grid-row-end: span 1;
      grid-column-end: span 2; } }
  @media (min-width: 900px) {
    .box-dash__posts {
      grid-row-end: span 1;
      grid-column-end: span 3; } }

.flex__container, .flex-center {
  display: flex;
  margin: auto; }
.flex-center {
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  @media (min-width: 900px) {
    .flex-center {
      flex-direction: row;
      justify-content: center; } }
.flex__box {
  flex: 1;
  text-align: center; }

.grid-4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin: auto;
  padding: 0; }
  @media (min-width: 600px) {
    .grid-4 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      margin: auto;
      padding: 0; } }
  @media (min-width: 900px) {
    .grid-4 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      margin: auto;
      padding: 0; } }
  @media (min-width: 1100px) {
    .grid-4 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
      margin: auto;
      padding: 0; } }

.grid-3, .grid-3__dash, .grid-3a__dash {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin: auto; }
  @media (min-width: 600px) {
    .grid-3, .grid-3__dash, .grid-3a__dash {
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 900px) {
    .grid-3, .grid-3__dash, .grid-3a__dash {
      grid-template-columns: 1fr 1fr 1fr; } }
  .grid-3__dash {
    grid-gap: .5em; }

.grid-3a {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin: auto; }
  @media (min-width: 900px) {
    .grid-3a {
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 1100px) {
    .grid-3a {
      grid-template-columns: 1fr 1fr 1fr; } }
  .grid-3a__dash {
    grid-gap: .5em; }

.grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin: auto;
  padding: 0; }
  @media (min-width: 900px) {
    .grid-2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      margin: auto;
      padding: 0; } }

.grid-WallCard {
  display: grid;
  grid-template-columns: 5rem 1fr 4rem;
  grid-gap: 20px;
  margin: auto;
  padding: 1rem;
  background-color: #feedee;
  border-radius: 2rem;
  width: 100%; }
  @media (min-width: 600px) {
    .grid-WallCard {
      grid-template-columns: 10rem 1fr 4rem; } }

.Layout_WordWall {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  margin: auto;
  padding: 0;
  text-align: left; }
  @media (min-width: 900px) {
    .Layout_WordWall {
      display: grid;
      grid-template-columns: 1fr 1fr; } }

.WordWall_Words {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: auto;
  padding: 0;
  text-align: center; }

.WordWallName_Count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: inherit; }

.WordWallName {
  align-self: start; }

.WordWallCount, .WordWallCount__page, .WordWallCount__card {
  align-self: start; }

.Center {
  display: flex;
  align-items: center; }

/*# sourceMappingURL=app.css.map */
